*{
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: hsl(338, 99%, 60%);
    --black: #272525;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --spacing-xxl: 70px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, span, button {
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
    color: var(--black);
    text-transform: capitalize;
}

header {
    padding-inline: var(--spacing-xxl);
}

main {
  margin: var(--spacing-xxl);
}

.btn {
    color: white;
    cursor: pointer;
    background-color: var(--main-bg-color);
    box-shadow: 0px 10px 24px 7px rgba(254, 52, 126, 0.25);
    border: none;
    font-size: 17px;
    padding: var(--spacing-sm) var(--spacing-xl);
    border-radius: 30px;
    transition: 0.2s ease-in-out 0.1s;
}

.btn:hover {
  transition: 0.3s ease-in-out 0.1s;
  background-color: hsl(338, 99%, 50%);
}

input {
    border: 1px solid var(--main-bg-color);
    margin-block: var(--spacing-sm);
    cursor: pointer;
}

input[type='text'],
input[type='number'] {
  cursor: text;
  border-radius: 30px;
  padding: 5px 15px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-transform: capitalize; 
    margin-bottom: var(--spacing-xl);
    font-size: 18px;
    font-weight: 600;
}

input:focus{
    outline: none;
}

/* HEADER */

header {
    height: 15vh;
    box-shadow: var(--shadow);
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* MAIN */

.add-btn {
    position: fixed;
    bottom: 50px;
    right: 15px;
    border-radius: 18px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-xxl);
  margin-top: var(--spacing-xl);
}

/* BOOK CARD */

.book-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  box-shadow: var(--shadow);
  padding-block: var(--spacing-lg);
  border-radius: 15px;
}

.book-card > p {
  font-size: 20px;
  padding-block: var(--spacing-md);
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.button-group > button {
  border-radius: 10px;
  margin-block: var(--spacing-sm);
}

.btn-light-green {
  background-color: hsl(120, 80%, 70%);
  box-shadow: 0px 5px 20px 5px rgba(140, 242, 140, 0.5);
}

.btn-light-green:hover {
  transition: 0.3s ease-in-out 0.1s;
  background-color: hsl(120, 100%, 60%);
}

.btn-light-gray {
  background-color: hsl(0, 0%, 75%);
  box-shadow: none;
}

.btn-light-gray:hover {
  transition: 0.3s ease-in-out 0.1s;
  background-color: hsl(0, 0%, 65%);
}

/* FOOTER */

footer {
  /* position: absolute;
  bottom: 0px; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fa-github {
  font-size: 24px;
  color: var(--black);
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MODAL */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 450px;
  padding: var(--spacing-xl);
  border-radius: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.read-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}

.read-status > label {
  font-weight: normal;
  margin: 0;
}


.checkbox {
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

.checkbox:checked {
  accent-color: var(--main-bg-color);
}

.error-msg {
  display: none;
  color: red;
}

.error-msg.active {
  display: inline;
}